{% include head.html %}

    <body>
    <div class="row" style="margin-top: 2em;">
        <div class="small-9 columns">
            <div class="row">
                <center><h5>{{ site.tagline }}</h5></center>
            </div>
            <div class="row">
                <center>
                    <h3>{% include navi.html %}</h3>
                    <hr style="margin-left: 4em; margin-right: 4em; color: red;">
                </center>
            </div>

            <div class="row">
                {{ content }}
            </div>

            <div class="row">
                Hashtag Feminism {{ site.time | date: '%Y' }}. A MEDIA MAKE CHANGE, Inc. Enterprise.
            </div>
        </div>

        <div class="small-3 columns">
            {% include sidebar.html %}
        </div>

    </div>
    </body>
</html>
