{% include head.html %}

<div class="row" style="margin-top: 2em;">
    <div class="small-10 columns">
        <div class="row">
            <div class="small-12">
                <h5 class="text-center" id="extra"><a href="{{ site.url }}">{{ site.tagline }}</a></h5>
                <center>{% include navi.html %}</center>
                <hr class="text-center" style="margin-top: 0em; margin-left: 3em; margin-right: 3em; border-color: pink;">
            </div>
        </div>

        <div class="small-12" id="content">
            {{ content }}
        </div>
    </div>

    {% include sidebar.html %}
</div>

<div class="row">
    <div class="small-10">
        <hr class="text-center" style="margin-top: 0em; margin-left: 3em; margin-right: 3em; border-color: pink;">
        <p class="text-center">Hashtag Feminism {{ site.time | date: '%Y' }}. A MEDIA MAKE CHANGE, Inc. Enterprise.</p>
    </div>
</div>

</div>
</body>
</html>
