---
layout: default
title: Home
---
{{ content }}

<div id="content">
    {% for post in site.posts %}
        {% if post.image %}
            <img src="{{ site.baseurl }}public/images/{{ post.image }}">
        {% endif %}

        {% if post.title %}
        <center><h2>{{ post.title }}</h2></center>
        {% endif %}

        <div class="small-5 large-centered columns">
            <center>{{ post.date | date_to_long_string }}, by {{ post.author }}</center>
        <hr>
        </div>
        <p>{{ post.snippet }}<p>
        <p><a href="{{ post.url }}">Read more...</a></p>
    {% endfor %}
</div>
